* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana;
}

.header {
    padding: 80px;
    text-align: center;
    background: #ddd;
    color: white;
}

.header h1 {
    font-size: 40px;
    color: #8b0000;
}

p {
    color:#8b0000;
}

.navbar {
    background-color: #333;
}

.dropbtn {
    background-color: #333;
    color: #ddd;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:  black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333;}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;    
    text-align: center;
}

.main { 
    flex:70%;
    padding: 20px;
    background-color: white;  
}

.responsive {
    padding: 25px;
    max-width: 100%;
    max-height: auto;
}

.figure {
    text-align: center;
}

.figure-caption {
    font-size: 15px;
    font-style: italic;  
    text-align: center;
}

ul li {
    margin-left: 50px;
    padding: 10px;
    color: #8b0000;
    align-items: center;
}

.footer {
    padding: 10px;
    font-size: 10px;
    text-align: center;
    color:#8b0000;
    background: #ddd;
}
